[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=gdy
WorkingDirectory=/home/gdy/sites/SITENAME/source
ExecStart=/home/gdy/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
